<p>
<form class="form-inline" action="<%=path%>" method="get">
    <div class="form-group">
        <label class="sr-only" for="author">Author:</label>
        <input type="text" class="form-control" id="author" placeholder="Filter by author" name="author" size="30" class="p-1"
               value="<%-author%>"/>
    </div>
    <button type="submit" class="ml-2 px-3 btn btn-primary">Filter</button>
</form>
</p>
<table class="table">
    <colgroup>
       <col span="1" style="width: 25%;">
       <col span="1" style="width: 75%;">
    </colgroup>   
    <tbody>
    <% for (var i = 0; i < comments.length; i++) {
    var dt = comments[i].created; %>
    <tr>
        <td>
            <b><%= comments[i].authorName %></b><br/>
            <small class="text-muted"><%=dt.toUTCString()%></small>
        </td>
        <td class="text-primary"><%- comments[i].content %></td>
    </tr>
    <% } %>
    </tbody>
</table>
